%script{src: "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", type: "text/javascript"}
%script{src: "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", type: "text/javascript"}
= content_for :title, "Locations"
= form_tag locations_path, :method => :get do
  %p#label_location
    - #text_field_tag :search, params[:location]
    -# submit_tag "Search Near", :name => nil 
    #marinman= link_to "New Location", new_location_path
    = label :location, "Search locations near : "
    = text_field_tag :location, params[:location]
    = label :distance, "Distance : "
    = text_field_tag :distance, params[:distance]
    = submit_tag "Search"
  .container.well   
    %table.col-md-12
      %tr
        %th.indextd.underlin Address
        %th.indextd.underlin Latitude
        %th.indextd.underlin Longitude   
      - @locations.each do |location|
        %tr
          %td.indextd= location.address
          %td.indextd= location.latitude
          %td.indextd= location.longitude
          %td.indextd= link_to "Show", location
          %td.indextd= link_to "Edit", edit_location_path(location)
          %td.indextd= link_to "Destroy", location, :confirm => 'Are you sure?', :method => :delete
.indexcontainer5
  %div{style: "width: 800px;"}
  #map{style: "width: 800px; height: 400px;"}
:javascript
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(#{raw @hash.to_json});
    handler.bounds.extendWith(markers2);
    handler.fitMapToBounds();
  });
